/.clj-kondo
/.calva
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
/lab1/CHANGELOG.md
lab1/.calva/output-window/output.calva-repl
lab1/.cpcache/9D08550A2A92087A9FB5112123F53FD3.basis
lab1/.cpcache/9D08550A2A92087A9FB5112123F53FD3.cp
lab1/doc/intro.md
.lsp/.cache/db.transit.json
