/.clj-kondo
/.calva
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
/lab1/CHANGELOG.md
lab1/.calva/
lab1/.cpcache/
lab1/.cpcache/
lab1/doc/intro.md
.lsp/.cache/db.transit.json
lab1/.clj-kondo/
lab1/.cljfmt.edn
lab1/.github/workflows/ci.yml
lab1/.cljfmt.edn
lab1/.clj-kondo/config.edn
lab1/deps.edn
lab1/.cljfmt.edn
